section {
	overflow: hidden;
	border-top: 1px solid lightgrey;
	padding: 1rem 2% ;
	max-width: 96%;

	label {
		margin-top: 10px;
		clear: both;
		display: block;
	}
	textarea{
		padding: 1%;
		max-width: 100%;
		min-height: 80px;
	}
}

*{
	font-family: sans-serif;
}


textarea {
	width: 100%;
	max-width: 100%;
}

realmark-diff,
realmark-previewer, .content{
	float: right;
	width: 55%;
	margin: 1%;
}
.content{
	width: 40%;
}
 